<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/bootstrap.css" >
<link rel="stylesheet" href="/css/mycss.css" >
</head>
<body id="body">
<header id="header">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-4 text-right">
        <img src="/img/logo_elca.png"/>
      </div>
      <div class="col-md-8">
          <h3><strong th:text="#{label.project_name}"></strong></h3>
      </div>
    </div>
    <div class="col-md-2 text-right pad-right40 mar-top25"> EN | <a href="#" class="new-menu-style">FR</a></div>
    <div class="col-md-2 mar-top25"><a href="#" class="new-menu-style" th:text="#{laebl.help}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp Log out</div>
    
  </div>
</header>
<div style="margin-top:50px;">
  <div class="col-md-5 text-right">
    <img src="/img/error.PNG"/>
  </div>
  <div class="col-md-5">
    <h3><span th:text="#{error.pagetext1}"></span><br>
    <span th:text="#{error.pagetext2}"></span> <span class="text-danger" th:text="#{error.pagetext3}"></span></h3>
    <h3><span th:text="#{error.pagetext4}"></span> <span class="new-menu-style" th:text="#{error.pagetext5}"></span></h3>
  </div>
  <div class="col-md-2"></div>
</div>
<footer></footer>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/myjavascript.js"></script>


</body>
</html>