<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" >
<link rel="stylesheet" href="/css/mycss.css" >
</head>
<body id="body">
<header id="header">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-4 text-right">
        <img src="/img/logo_elca.png"/>
      </div>
      <div class="col-md-8">
          <h3><strong th:text="#{label.project_name}"></strong></h3>
      </div>
    </div>
    <div class="col-md-4 text-right pad-right40 mar-top25"> EN | <a href="#" id="fr_lang" class="new-menu-style">FR</a></div>
    <div class="col-md-2 mar-top25"><a href="#" class="new-menu-style" th:text="#{laebl.help}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp Log out</div>
    
  </div>
</header>
<div class="row">
<div class="col-md-3" id="side-bar">
  <div class="col-md-5"></div>
  <div class="col-md-7">
    <br><br>
    <a th:href="@{list}" class="new-menu-style" th:text="#{label.menu.project_list}"></a><br><br><br>
    <a th:href="@{new}" class="new-menu-style" th:text="#{label.menu.new}"></a><br><br>
    <a href="#" class="project-menu-style" th:text="#{label.menu.project}"></a><br><br>
    <a th:text="#{label.menu.customer}"></a><br><br>
    <a th:text="#{label.menu.supplier}"></a><br><br>
  </div>
  
</div>
<div class="col-md-8" id="main-content">
<br>
  <h4 th:text="#{label.title.project_list}"></h4>
  <hr>
  <form class="form-inline" id="form-search" th:action="@{query}" method="post">
    <div class="col-md-4-cus">
      <input type="text" th:value="${strQuery}" name="text_search" class="form-control" id="text-search" th:placeholder="#{text.placeholder_search}">
    </div>
    <input type="hidden" name="status_search" id="searchStatusQuery" th:value="${statusQuery}">
    <div class="col-md-2-cus" style="padding-left:8px;">
      <select class="form-control" id="select_status">
        <option value="" th:text="#{label.title.project_status}"></option>
        <option value="NEW" th:text="#{project.status.new}"></option>
        <option value="PLA" th:text="#{project.status.planned}"></option>
        <option value="INP" th:text="#{project.status.in_progress}"></option>
        <option value="FIN" th:text="#{project.status.finished}"></option>
      </select>
    </div>
    <div class="col-md-3-cus">
      <input type="submit" th:value="#{button.search_project}" class="btn btn-primary" style="width:70%;">
    </div>
    <div class="col-md-2-cus" style="padding-top:5px;">
      <a id="btn_reset_search" th:text="#{button.search_reset}"></a>
    </div>
  </form>
  <br>
  <br>
  <br>
  <table id="project-table" class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th class="col-md-1 text-center" th:text="#{project.number}"></th>
        <th class="col-md-4" th:text="#{project.name}"></th>
        <th class="col-md-1" th:text="#{project.status}"></th>
        <th class="col-md-3" th:text="#{project.customer}"></th>
        <th class="col-md-2" th:text="#{project.start_date}"></th>
        <th class="col-md-1 text-center" th:text="#{project.delete}"></th>
      </tr>
    </thead>
    <tbody>
    <th:foreach th:each="proj : ${projectList}">
      <tr>
          <td class="text-center">
            <input type="checkbox" class="checkbox-cus" th:value="${proj.projectNumber}" th:disabled="${#strings.toString(proj.status) == 'NEW' ?false:true}">
          </td>
          <td class="text-right"><a th:href="${proj.id}+'/edit'" th:text="${proj.projectNumber}"></a></td>
          <td th:text="${proj.name}"></td>
          <!-- <td th:text="${proj.status}"></td> -->
          
          <td th:if="${#strings.toString(proj.status) == 'NEW'}"><span th:text=#{project.status.new}></span></td>
          <td th:if="${#strings.toString(proj.status) == 'PLA'}"><span th:text=#{project.status.planned}></span></td>
          <td th:if="${#strings.toString(proj.status) == 'INP'}"><span th:text=#{project.status.in_progress}></span></td>
          <td th:if="${#strings.toString(proj.status) == 'FIN'}"><span th:text=#{project.status.finished}></span></td>
          
          <td th:text="${proj.customer}"></td>
          <td th:text="${#dates.format(proj.startDate,'yyyy-MM-dd')}"></td>
          <td class="text-center">
            <center><img src="/img/delete_icon.png" style="display:none"/></center>
          </td>
        </tr>
    </th:foreach>
    </tbody>
  </table>
  <div class="col-md-12" id="footer-table" style="display:none">
    <div class="col-md-6 text-primary">
      <strong id="counter_select"></strong> <strong th:text="#{notify.item.selected}"></strong>
    </div>
    <div class="col-md-6 text-right text-danger">
      <a href="#" id="btn_delete"><strong class="text-danger" th:text="#{notify.item.delete}"></strong></a>
      <img src="/img/delete_icon.png">  
    </div>
  </div>
  <div id="pagin" class="text-right">
    <ul class="pagination">
    <li><a href="#">&lt&lt</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="disabled"><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">>></a></li>
  </ul>
  </div>
</div>
<div class="col-md-1"></div>
</div>
<footer></footer>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/myjavascript.js"></script>


</body>
</html>