<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/bootstrap.css" >
<link rel="stylesheet" href="/css/mycss.css" >
</head>
<body id="body">
<header id="header">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-4 text-right">
        <img src="/img/logo_elca.png"/>
      </div>
      <div class="col-md-8">
          <h3><strong th:text="#{label.project_name}"></strong></h3>
      </div>
    </div>
    <div class="col-md-4 text-right pad-right40 mar-top25"> EN | <a href="#" class="new-menu-style">FR</a></div>
    <div class="col-md-2 mar-top25"><a href="#" class="new-menu-style" th:text="#{laebl.help}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp Log out</div>
    
  </div>
</header>
<div class="col-md-3" id="side-bar">
  <div class="col-md-5"></div>
  <div class="col-md-7">
   <br><br>
    <a th:href="@{list}" class="new-menu-style" th:text="#{label.menu.project_list}"></a><br><br><br>
    <a th:href="@{new}" class="new-menu-style" th:text="#{label.menu.new}"></a><br><br>
    <a href="#" class="project-menu-style" th:text="#{label.menu.project}"></a><br><br>
    <a th:text="#{label.menu.customer}"></a><br><br>
    <a th:text="#{label.menu.supplier}"></a><br><br>
  </div>
  
</div>
<div class="col-md-7" id="main-content">
<br>
  <h4 th:text="#{label.title.project_new}" th:if="${type=='new'}"></h4>
  <h4 th:text="#{label.title.project_edit}" th:if="${type=='edit'}"></h4>
  <hr>
  <div class="alert alert-danger" th:if="${errorValidate}">
    <strong th:text="#{error.validate}"></strong>
  </div>
  <form class="form-horizontal mar-lef20" th:action="${type=='new'?'create':'update'}" th:object="${project}" method="post">
    <div class="form-group pad-top-bot10">
      <div class="col-md-3">
        <label for="pro_num"><span th:text="#{project.project_number}"></span> <span class="mandatory">*</span></label>
      </div>
      <div class="col-md-3">
        <input type="text" id="pro_num" th:field="*{projectNumber}" th:readonly="${type=='edit'?true:false}" class="form-control in-txt-cus">
      </div>
      <div class="col-md-6">
        <span id="error_number_project" class="mandatory" th:text="#{error.projectexists}"></span>
      </div>
    </div>
    <div class="form-group pad-top-bot10">
      <div class="col-md-3">
        <label for="pro_name"><span th:text="#{project.project_name}"></span><span class="mandatory">*</span></label>
      </div>
      <div class="col-md-9">
      <input type="text" id="pro_name" th:field="*{name}" class="form-control in-txt-cus">
      </div>
    </div>
    <div class="form-group pad-top-bot10">
      <div class="col-md-3">
        <label for="pro_customer"><span th:text="#{project.customer}"></span><span class="mandatory">*</span></label>
      </div>
      <div class="col-md-9">
      <input type="text" id="pro_customer" th:field="*{customer}" class="form-control in-txt-cus">
      </div>
    </div>
    <div class="form-group pad-top-bot10">
      <div class="col-md-3">
        <label for="pro_group"><span th:text="#{project.group}"></span><span class="mandatory">*</span></label>
      </div>
      <div class="col-md-3">
        <select class="form-control in-txt-cus" style="font-size:12px;" th:field="*{groupId}">
          <option value="" selected th:text="#{project.group}"></option>
          <th:foreach  th:each="gr : ${groupProject}">
            <option th:value="${gr.id}" th:text="${gr.name}"></option>
          </th:foreach>
          <!-- <option value="1" th:text="#{group.name}">CIM</option>
          <option value="2" th:text="#{group.name}">JAVA</option>
          <option value="3" th:text="#{group.name}">Secutix</option>
          <option value="4" th:text="#{group.name}">.NET</option> -->
        </select>
      </div>
    </div>
    <div class="form-group pad-top-bot10">
      <div class="col-md-3">
        <label for="pro_member"  th:text="#{project.member}"></label>
      </div>
      <div class="col-md-9">
      <input type="text" id="pro_member" name="project_member" th:value="${listMember}" class="form-control in-txt-cus">
      </div>
    </div>
    <div class="form-group pad-top-bot10">
      <div class="col-md-3">
        <label for="pro_status"><span th:text="#{project.status}"></span> <span class="mandatory">*</span></label>
      </div>
      <div class="col-md-3">
        <select class="form-control in-txt-cus" style="font-size:12px;" th:field="*{status}" th:if="${type=='new'}">
          <option value="NEW" th:text="#{project.status.new}"></option>          
        </select>
        <select class="form-control in-txt-cus" style="font-size:12px;" th:field="*{status}" th:unless="${type=='new'}">
          <option value="NEW" th:text="#{project.status.new}"></option>
          <option value="PLA" th:text="#{project.status.planned}"></option>
          <option value="INP" th:text="#{project.status.in_progress}"></option>
          <option value="FIN" th:text="#{project.status.finished}"></option>
        </select>
      </div>
    </div>
    <div class="form-group pad-top-bot10">
      <div class="col-md-3">
        <label for="pro_startdate"><span th:text="#{project.start_date}"></span><span class="mandatory">*</span></label>
      </div>
      <div class="col-md-3">
        <div class="form-control-cus in-txt-cus">
          <input type="text" id="pro_startdate" th:field="*{startDate}" class="date-cus">
          <a href="#"><img src="/img/u89.png"/></a>
        </div>
      
      </div>
    
      <div class="col-md-3 text-center">
        <label for="pro_enddate" th:text="#{project.end_date}"></label>
      </div>
      <div class="col-md-3">
        <div class="form-control-cus in-txt-cus">
          <input type="text" id="pro_enddate" th:field="*{endDate}" class="date-cus">
          <a href="#"><img src="/img/u89.png"/></a>
        </div>
      </div>
    </div>
    <hr>
  <div class="row text-right">
    <div class="col-md-5"></div>
    <div class="col-md-3">
      <a class="btn btn-default btn-block" th:href="@{list}" th:text="#{button.cancel}"></a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <input type="submit" class="btn btn-primary btn-block" th:value="#{button.project_create}">
    </div>
  </div>
  </form>
  
</div>
<div class="col-md-2"></div>
<footer></footer>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/myjavascript.js"></script>


</body>
</html>